

<footer>
    <hr class="top-line">


    <div class="content">

        <div class="name">
            <h1>
                Sina<b>n</b>
            </h1>
            <span *ngIf="!isMediumView">
                Impressum
            </span>
        </div>

        <h2 class="signature"> 
            @ Sinan Fischer 2023
        </h2>

        <div class="media-icons">
            <img src="../assets/img/icons/git-big.png" class="scale"> 
            <img src="../assets/img/icons/mail-big.png" class="scale"> 
            <img src="../assets/img/icons/linkedin-big.png" class="scale"> 
        </div>

        <span *ngIf="isMediumView">
            Impressum
        </span>

    </div>

</footer>