<section id="about-me">
    <div class="shadow-container" >
        <img src="../assets/img/shadows/aside-shadow.png">
    </div>

    <div class="about-me-c reveal fade-bottom " (window:scroll)="reveal()">

        <div class="about-me ">
            <h1> About me </h1>

            <article>
                Hi, I am a Front-end developer based in Schwerin, Germany(...) Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Cum deserunt cupiditate voluptate, quis saepe sint autem. Suscipit, quis, delectus eos
                nesciunt reprehenderit pariatur ut sint dicta velit, tenetur quos dignissimos!
            </article>

            <div class="personal-things">
                <div class="img-container">
                    <img src="../assets/img/icons/lamp.png">
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dolore natus soluta cumque,
                    provident
                    dicta! Veritatis
                </p>
            </div>

            <div class="personal-things">
                <div class="img-container">
                    <img src="../assets/img/icons/puzzle.png">
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dolore natus soluta cumque,
                    provident
                    dicta! Veritatis
                </p>
            </div>
        </div>


        <div class="circle-me" *ngIf="!isSmallView">
            <img src="../assets/img/me(2).png">
            <hr class="sideline">
        </div>


    </div>


</section>