<div class="me"> 
    <div class="me-content"> 

        <div class="me-img"> 
            <img src="../assets/img/shadows/me-background.png" id="shadow"> 
            <div class="overlay "> 
                <img src="../assets/img/me(1).png" > 
            </div>
        </div>

        <div class="introduce"> 
            <div style="display:flex"> 
                <span class="i-am"> I am </span> 
                <div class="title"> 
                    <strong class="my-name">  Sinan Fischer </strong> <br> 
                    <strong class="job-title"> FRONTEND DEVELOPER </strong> 
                </div>
            </div>

            <button> 
                Let's talk! 
            </button>

        </div>

    </div>
</div>


<div class="me-end"> 
 <img src="../assets/img/background.png"> 
</div>


<div class="social-btns">
    <div class="social-btns-line">  
        <h5 class="left-line"> 
        </h5> 
            <img src="../assets/img/icons/git-small.png"> 
            <img src="../assets/img/icons/linkedin-small.png"> 
            <img src="../assets/img/icons/mail-small.png"> 
            <span> sinanfischer@gmail.com </span>
    </div>

    <div class="scroll-down-hint"> 
        <span> Scroll down </span> 
        <img src="../assets/img/icons/arrow-down.png"> 
    </div>

</div>