
<section class="portfolio-c" id="portfolio-c" >
    


    <img [src]="orangeShadow" > 
    <div> 
        <div class="headline"> 
            <hr class="sideline left" style="width: 15vw; margin-left: 20vw;">
            <h1> Portfolio </h1>
            <hr class="sideline">
        </div>
    </div>
    <p>
        This page is a sample of my work - please feel free to try them out.
    </p>

    <div class="portfolio-middle-shadow "> 
        <img src="../assets/img/shadows/shadow-portfolio(1).png"> 
    </div>


</section>

