.skills-c {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 6%;

    @media (max-width: 1270px) {
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


.all-skills-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.my-skills {

    display: flex;
    gap: 50px;
    width: 50vw;
    max-width: 50vw;
    flex-wrap: wrap;

    @media (max-width: 1270px) {
        width: 100vw;
        max-width: fit-content;
        justify-content: center;
    }


    .skill {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100px;
        height: 100px;

        img {
            position: relative;
            margin-bottom: 20px;
            z-index: 10;
            max-width: 60px;

            &:hover {
                cursor: pointer;
                animation: bounce 0.4s cubic-bezier(.36, .07, .19, .97) both;
                transform: translate3d(0, 0, 0);
                perspective: 1000px;
            }
        }

        span {
            font-weight: 600;
            font-size: 18px;
        }
    }
}

.skills-description {
    width: 35vw;

    @media (max-width:1270px) {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    div {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    h1 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        text-align: end;
    }


    .sideline {
        width: 6vw;
        border: 0;
        border-top: solid 4px #FF4747;
        position: absolute;
        left: 31vw;

        @media (max-width: 1270px) {
            position: relative;
            left: 20px;
            width: 30vw;
        }

        @media (max-width: 700px) {
            width: 15vw;
        }
    }

    p {
        text-align: end;
        font-size: 18px;

        @media (max-width:1270px) {
            width: 70vw;
            margin-right: 25px;
        }

    }

    .btn{
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            padding-left: 25px;
            padding-right: 25px;

        }


        

        @media (max-width: 1200px) {}
    }
}